.page-posts-edit
  %h3 修改岗位
  %a{:role=>"button",class: "btn btn-primary",:href=>"/posts"}岗位清单

  = simple_form_for @post do |f|
    = f.input :number

    = f.input :name

    = f.input :desc

    = f.association :levels, label_method: :name, as: :check_boxes
    
    = f.association :business_categories, label_method: :name, as: :check_boxes

    = f.button :submit, "添加"