.page-posts-index
  %h3 设置岗位

  %table.table.table-striped.table-bordered
    %caption 岗位清单
    %thead
      %tr
        %th 岗位编号
        %th 岗位名与描述
        %th 对应级别
        %th 对应业务类别
        %th 操作
    %tbody
      - if @posts.blank?
        %tr
          %td{colspan: 3} 没有数据
      - @posts.each do |post|
        %tr
          %td.number= post.number
          %td
            .name= post.name
            .desc= post.desc
          %td
            - post.levels.each do |level|
              .level= level.name
          %td
            %span= post.business_categories.count
            %span 类
          %td
            .btn-group.btn-group-sm
              %a.btn.btn-default{href: 'javascript:;'}
                %i.glyphicon.glyphicon-pencil
                %span 修改
              %a.btn.btn-default{href: 'javascript:;'} 
                %i.glyphicon.glyphicon-trash
                %span 删除

  .table-opers.hide
    %a.btn.btn-default{data: {toggle: :modal, target: '.new-dialog'}} 增加岗位

  .new-dialog.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %a.close{data: {dismiss: :modal}}
            %span &times;
          %h4 增加岗位
        .modal-body
          = simple_form_for BankTrain::Post.new do |f|
            = f.input :number
            = f.input :name
        .modal-footer
          %a.btn.btn-default{data: {dismiss: :modal}} 关闭
          %a.btn.btn-success 确定