.bank-train-home
  .posts
    - BankTrain::Post.each do |post|
      :ruby
        category_ids = post.business_categories.map {|c| c.id.to_s}

      %a.post{href: 'javascript:;', data: {categories: category_ids}}
        .name
          %span.number= post.number
          %span.pname= post.name
        .desc= post.desc

  .arrow
    %i.glyphicon.glyphicon-arrow-right

  .business-categories
    :ruby
      count = BankTrain::BusinessCategory.count - BankTrain::BusinessCategory.roots.count
    .count 
      %span 共 #{count} 项业务
      %span.current-active
    - BankTrain::BusinessCategory.roots.each do |c|
      .category
        .name
          %span= c.name
          %span (共 #{c.children.count} 项)
        .children
          - c.children.each do |child|
            .child-category{data: {id: child.id.to_s}}
              :ruby
                if child.business_operations.present?
                  filter = child.business_operations.first.id.to_s
                else
                  filter = ''
                end

              %a{href: demo_filter_path(filter: filter)}= child.name

.engine-generated.hide
  - if user_signed_in?
    .desc.current-user
      %span 当前用户：
      %strong= current_user.name
  - else
    .desc
      %span 当前无登录用户

  .desc
    %span 访问
    %a{:href => '/auth'} /auth
    %span 注册
  .desc
    %span 访问
    %a{:href => '/auth/login'} /auth/login
    %span 登录
  .desc
    %span 点击
    %a{:href => '/auth/logout', :data => {:method => :delete}} DELETE /auth/logout
    %span 登出