!!!
%html{:lang => :zh}
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}

    %title 柜员培训 DEMO
    = csrf_meta_tags
    = stylesheet_link_tag 'bank_train/application', :media => 'screen'
    = javascript_include_tag 'bank_train/application'

  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{href: root_path}
            %i.glyphicon.glyphicon-home
            %span 前端线上培训展示原型
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            = nav_link posts_path, '设置岗位'
            = nav_link levels_path, '设置级别'
            = nav_link business_categories_path, '设置业务种类(对应到知识点)'
            = nav_link business_operations_path, '设置业务操作'
            = nav_link demo_business_operation_path, 'DEMO: 业务操作'

    .page-main
      .container
        = yield
    .page-footer