!!!
%html{:lang => :zh}
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}

    %title 柜员培训 DEMO
    = csrf_meta_tags
    = stylesheet_link_tag 'bank_train/application', :media => 'screen'
    = javascript_include_tag 'bank_train/application'

  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{href: root_path}
            %i.glyphicon.glyphicon-home
            %span 前端线上培训展示原型
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle{href: 'javascript:;', data: {toggle: 'dropdown'}}
                %i.glyphicon.glyphicon-wrench
                %span 管理维护
                %span.caret
              %ul.dropdown-menu
                = nav_link posts_path, '设置岗位'
                = nav_link levels_path, '设置级别'
                = nav_link business_categories_path, '设置业务种类'
                = nav_link business_operations_path, '设置业务操作'
            %li.dropdown
              %a.dropdown-toggle{href: 'javascript:;', data: {toggle: 'dropdown'}}
                %i.glyphicon.glyphicon-grain
                %span 业务关系演示
                %span.caret
              %ul.dropdown-menu
                = nav_link root_path, '岗位与业务类型的对应'
                = nav_link demo_filter_path, '业务类型与操作的对应'

            %li.dropdown
              %a.dropdown-toggle{href: 'javascript:;', data: {toggle: 'dropdown'}}
                %i.glyphicon.glyphicon-grain
                %span 操作过程演示
                %span.caret
              %ul.dropdown-menu
                = nav_link demo_wizard_path, 'DEMO: 学习内容选择向导'
                = nav_link_new_page demo_business_operation_a_path, 'DEMO: 业务操作示例'
                = nav_link_new_page demo_yaml_sample_path(ywid: 122100), 'DEMO: 模板解析 122100'
                = nav_link_new_page demo_yaml_sample_path(ywid: 131003), 'DEMO: 模板解析 131003'
                = nav_link_new_page demo_yaml_sample_path(ywid: 121100), 'DEMO: 模板解析 121100'
                = nav_link_new_page demo_yaml_sample_path(ywid: 172001), 'DEMO: 模板解析 172001'

    .page-main
      .container
        = yield
    .page-footer